{% load static %}

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Resume-builder</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
	<link rel="stylesheet" href="{% static '/style.css' %}">
	<script src="../static/pagination.js"></script>
</head>

<body>
	<main role="main">
		<div class="container">
			<div id="logo"><h1 class="logo">Resum</h1>
			</div>
			<div class="rightbox">
				{% block content %}
				{% endblock %}	  
			</div>
		  </div>
		  
	</main>

</body>

</html>