{% extends "resume/base.html" %}

{% block content %}
{% load static %}

	<div class="settings">
		<h1>Account Settings</h1>
		<h2>Gabriele Mannucci</h2>
		{% comment %} <p style="width: 45%;">
			<a href="{% url 'authentication:logout' %}" class="btn" style="float: none;">Reset Password</a>
		</p> {% endcomment %}
		<ul>
			<li>
				<a href="{% url 'authentication:delete_account' %}"  class="btn" style="float: none;">Delete Account</a>
			</li>
			<li>
				<a href="{% url 'authentication:logout' %}" class="btn" style="float: none;">Log Out</a>
			</li>
		</ul>
		<br>
		<h1>Resume Settings</h2>
		<h2>Change theme</h2>
		<div class="themes">
			<div class="theme green active"></div>
			<div class="theme blue"></div>
			<div class="theme orange"></div>
			<div class="theme pink"></div>
		</div>
	</div>

{% endblock %}