@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #3FB6A8, #7ED386);
  margin: 0;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  background: white;
  width: 100vw;
  max-width: 540px;
  height: 56vh;
  min-height: 420px;
  margin-top: 10%;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container .logo {
  float: right;
  margin-right: 12px;
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  color: #7ED386;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.container .CTA {
  width: 100px;
  height: 60px;
  right: -26px;
  bottom: 90px;
  position: absolute;
  z-index: 1;
  background: #7ED386;
  cursor: pointer;
  text-align: center;
  padding-top: 13px;
  box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}

.container .CTA:hover {
  background: #3FB6A8;
  transform: scale(1.1);
}

.container .CTA h3 {
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
}

.container .menubar {
  float: left;
  top: -5%;
  left: 5%;
  position: absolute;
  width: 15%;
  height: 110%;
  background: #7ED386;
  box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container .menubar a {
  color: white;
  font-size: 1.1rem;
}

.container .menubar a:hover {
  color: #3FB6A8;
  transform: scale(1.2);
  cursor: pointer;
}

.container .menubar a.active {
  color: #3FB6A8;
}

.container .content {
  height: 100%;
}

.container .content .profile, .container .content .experience, .container .content .education, .container .content .skills, .container .content .settings, .container .content .auth {
  position: relative;
  left: 24%;
  width: 60%;
}

.container .content .profile h1, .container .content .experience h1, .container .content .education h1, .container .content .skills h1, .container .content .settings h1, .container .content .auth h1 {
  font-family: "Montserrat", sans-serif;
  color: #7ED386;
  font-size: 1em;
  margin-top: 40px;
  margin-bottom: 25px;
}

.container .content .profile h2, .container .content .experience h2, .container .content .education h2, .container .content .skills h2, .container .content .settings h2, .container .content .auth h2 {
  color: #777777;
  font-family: "Roboto", sans-serif;
  width: 80%;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 1px;
  margin-left: 2px;
}

.container .content .profile p, .container .content .experience p, .container .content .education p, .container .content .skills p, .container .content .settings p, .container .content .auth p {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #3FB6A8, rgba(126, 211, 134, 0.5)) 1 0%;
  border-top: 0;
  width: 95%;
  font-family: "Montserrat", sans-serif;
  font-size: .7em;
  padding: 7px 0;
  color: #070707;
}

.container .content .profile input, .container .content .profile textarea, .container .content .experience input, .container .content .experience textarea, .container .content .education input, .container .content .education textarea, .container .content .skills input, .container .content .skills textarea, .container .content .settings input, .container .content .settings textarea, .container .content .auth input, .container .content .auth textarea {
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  outline: none;
  resize: none;
}

.container .content .profile span, .container .content .experience span, .container .content .education span, .container .content .skills span, .container .content .settings span, .container .content .auth span {
  font-size: .5em;
  color: #777777;
}

.container .content .profile .btn, .container .content .experience .btn, .container .content .education .btn, .container .content .skills .btn, .container .content .settings .btn, .container .content .auth .btn {
  float: right;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  border: none;
  color: #3FB6A8;
  padding-right: 20px;
  outline: none;
}

.container .content .profile .btn:hover, .container .content .experience .btn:hover, .container .content .education .btn:hover, .container .content .skills .btn:hover, .container .content .settings .btn:hover, .container .content .auth .btn:hover {
  text-decoration: underline;
  font-weight: 900;
}

.container .content .experience p, .container .content .education p {
  width: 80%;
}

.container .content .experience .slideshow, .container .content .education .slideshow {
  max-height: 310px;
  width: 378px;
  overflow: hidden;
}

.container .content .experience .slide-wrapper, .container .content .education .slide-wrapper {
  width: fit-content;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.container .content .experience .slide, .container .content .education .slide {
  float: left;
  max-height: 310px;
  width: 378px;
  transition-property: margin;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
}

.container .content .experience .slide .btn, .container .content .education .slide .btn {
  padding-right: 75px;
}

.container .content .experience .slide .delete, .container .content .education .slide .delete {
  padding-right: 5px;
  color: orangered;
  font-size: 0.9rem;
}

.container .content .experience .pagination-btns, .container .content .education .pagination-btns {
  /* background-color: lavenderblush; */
  display: inline-block;
  padding-left: 10px;
}

.container .content .experience .pagination-btns .btn, .container .content .education .pagination-btns .btn {
  float: left;
  margin-right: 12px;
  padding: 0;
  width: auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(63, 182, 168, 0.459);
  cursor: pointer;
}

.container .content .experience .pagination-btns .active, .container .content .education .pagination-btns .active {
  background-color: #3FB6A8;
}

.container .content .settings ul {
  list-style-type: none;
  padding: 0;
}

.container .content .settings ul li {
  margin-bottom: 10px;
  border: 2px solid #3FB6A8;
  padding: 10px;
  width: fit-content;
}

.container .content .settings ul li:hover {
  background-color: #3FB6A8;
}

.container .content .settings ul li:hover a {
  color: white;
}

.container .content .settings ul li a {
  text-decoration: none;
  padding: 0 !important;
}

.container .content .settings ul li a:hover {
  text-decoration: none;
}

.container .content .settings div.themes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin-top: 20px;
}

.container .content .settings div.theme {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  opacity: 0.4;
}

.container .content .settings div.theme:hover {
  opacity: 1;
}

.container .content .settings div.theme.active {
  opacity: 1;
}

.container .content .settings div.theme.green {
  background: linear-gradient(to right, #3FB6A8, #7ED386);
}

.container .content .settings div.theme.pink {
  background: linear-gradient(to right, #ff6faf, #fec48b);
}

.container .content .settings div.theme.blue {
  background: linear-gradient(to right, #1127e9, #00a2ff);
}

.container .content .settings div.theme.orange {
  background: linear-gradient(to right, #dc6542, #ffc300);
}

.container .content .auth {
  height: 100%;
  width: 100%;
  left: 0%;
}

.container .content .auth form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .content .auth button {
  padding: 0;
}

.container .content .auth button:hover {
  color: #FFFFFF;
  background-color: #3FB6A8;
}

.container .content .auth input, .container .content .auth button {
  margin: 10px;
  width: 160px;
  height: 30px;
  padding-left: 10px;
  font-family: inherit;
  font-size: inherit;
  font-family: "Roboto", sans-serif;
  border: 1px #3FB6A8 solid;
  color: #3FB6A8;
  outline: none;
  transition: ease;
  transition-duration: 0.6s;
  transition-property: background-color, color;
}

.container .content .auth h1 {
  font-size: 1.5rem;
  margin: 10px;
}

.container .content .auth h1, .container .content .auth a {
  font-family: "Montserrat", sans-serif;
  color: #7ED386;
  text-decoration: none;
  transition: ease;
  transition-duration: 0.3s;
  transition-property: color;
}

.container .content .auth a:hover {
  text-decoration: underline;
  color: #3FB6A8;
}

.container .content .auth h6 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: tomato;
  margin: 10px;
}
