<html>
    <head>
        <title>test</title>
        <link rel="stylesheet" href="test.css">
    </head>
    <style>
        @page{
            margin: -10px;
        }
    </style>
    <body>
        <div class='header'>
            <p class='name'>{{user_name}}</p>
            <p class='title'>{{title}}</p>
        </div>
        <div class='resume-body'>
            <div class="section">
                <div class="section-name">About me</div>
                <div class="section-content">
                    <p>
                        {{about_me}}
                    </p>   
                </div>
            </div>
            <div class="section">
                <div class="section-name">Experience</div>
                <div class="section-content">
                    <p>
                        {{experience}}
                    </p>
                </div>

            </div>
            <div class="section">
                <div class="section-name">Education</div>
                <div class="section-content"></div>
                <p>
                    {{education}}
                </p>
            </div>
        </div>
    </div>
    </body>
</html>